
/* Map Style */
.mapContainer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: red;
}

/* Coords style */

.coords{
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    color: #fff;
    left: 20px;
    position: fixed;
    padding: 10px;
    top: 20px;
    z-index: 99;
}